<mat-card class="main-card">
    <mat-card-header class="header">
        <mat-card-title class="title">Who we are?</mat-card-title>
        <mat-card-subtitle class="subtitle">
            Two colleagues from work that enjoy <span>technology</span> and wants to develop all the skills needed!
        </mat-card-subtitle>
    </mat-card-header>
    <img class="image" src="https://cdn.picpng.com/orange/jupiter-orange-planet-53129.png" alt="" />
</mat-card>

<mat-card class="faq-card">
    <mat-card-header class="faq-header">
        <mat-card-title class="faq-title">FAQ</mat-card-title>
        <mat-card-subtitle class="faq-subtitle">
            Frequently Asked Questions
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="faq-content">
        <mat-accordion class="accordion">
            <mat-expansion-panel class="accordion-panel">
                <mat-expansion-panel-header class="accordion-header">
                    <mat-panel-title class="accordion-title">
                        APOD
                    </mat-panel-title>
                    <mat-panel-description>
                        Access without an account
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Yeah, you can access the APOD page without an account, but we recommend to create one to have access
                    to all our services!</p>
            </mat-expansion-panel>
            <div class="space-break"></div>
            <mat-expansion-panel class="accordion-panel">
                <mat-expansion-panel-header class="accordion-header">
                    <mat-panel-title class="accordion-title">
                        Post Photos
                    </mat-panel-title>
                    <mat-panel-description>
                        How to
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>First, create an account clicking the top right button to Register, after login, press the "New Post" button!</p>
            </mat-expansion-panel>
            <div class="space-break"></div>
            <mat-expansion-panel class="accordion-panel">
                <mat-expansion-panel-header class="accordion-header">
                    <mat-panel-title class="accordion-title">
                        Contact
                    </mat-panel-title>
                    <mat-panel-description>
                        Reach us
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>You can contact us here: <br>Guilherme C. [<a class="linkedin"
                        href="https://www.linkedin.com/in/guilhermecamargodev/">LinkedIn</a>]<br>Francielio N. [<a
                        class="linkedin" href="https://www.linkedin.com/in/cielio/">LinkedIn</a>]</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>