@import url("../variables.css");
/* 
font-family: 'Major Mono Display', monospace;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace; 
*/

.main-card {
    border-radius: 30px;
    background-color: rgb(218, 94, 145, 0.4);
    flex-direction: column;
    justify-content: center;
    align-content: center;
    display: flex;
    max-width: 80vw;
    margin: 30px auto auto auto;
}

.title,
.subtitle {
    font-family: "Roboto Mono", monospace;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--light-purple);
}

.submit-button {
    color: white;
    font-weight: bold;
    font-family: "Major Mono Display", monospace;
    background-color: var(--light-purple);
    transition: 0.5s;
}

.submit-button:hover {
    background-color: var(--dark-purple);
}

.new {
    font-size: 0.9em;
    font-family: "Roboto Mono", monospace;
    padding-top: 5px;
    text-align: center;
}

.register {
    color: var(--light-purple);
}

@media (min-width: 1200px) {
    .title {
        font-size: 1.8em;
    }

    .subtitle {
        padding-top: 10px;
        font-size: 1.2em;
    }

    .main-card {
        max-width: 40vw;
    }
}
