@import url("../variables.css");
/* 
font-family: 'Major Mono Display', monospace;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace; 
*/

.main-card-profile {
    max-width: 80vw;
    margin: 30px auto 30px auto;
    background-color: rgb(157, 78, 221, 0.6);
    display: flex;
    flex-direction: column;
}

.header-profile {
    align-self: center;
    text-align: center;
}

.title-profile {
    font-size: 1.8em;
    line-height: 30px;
    font-weight: bold;
    font-family: "Major Mono Display", monospace;
    padding-bottom: 10px;
}

.subtitle {
    font-family: "Roboto Mono", monospace;
}

.astronical {
    color: var(--light-orange);
}

.content-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info {
    margin: 20px auto auto auto !important;
    width: 250px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name,
.cpf {
    border-radius: 15px;
    background-color: var(--mediumdark-purple);
}

.email {
    color: black;
    border-radius: 15px;
    background-color: #f770a8;
}

.delete-button {
    background-color: rgb(150, 3, 3);
    margin-bottom: 10px;
}

.delete-button:hover {
    background-color: rgb(97, 3, 3);
}

.name,
.cpf,
.email {
    font-family: "Roboto Mono", monospace;
}

.change {
    font-family: "Roboto Mono", monospace;
    background-color: var(--light-purple);
    margin: 50px auto 10px auto;
    width: 80%;
}

.change:hover {
    background-color: var(--mediumlight-purple);
}

.form {
    border-radius: 15px;
    background-color: rgb(157, 78, 221, 0.6);
    margin: 50px auto 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

.input-field {
    font-family: "Roboto Mono", monospace;
}

.form span {
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    margin: 5px;
    font-family: "Major Mono Display", monospace;
    color: #f770a8;
}

.update-button {
    font-family: "Roboto Mono", monospace;
    color: black;
    background-color: #f770a8;
    max-width: 50vw;
}

.update-button:hover {
    background-color: #be4c7a;
}

.publi-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-card {
    background-image: linear-gradient(
        to right top,
        #f770a8,
        #da5e91,
        #be4c7a,
        #a23a65,
        #872950
    );
    margin: auto auto 30px auto;
    width: 70vw;
}

.purple-card {
    background-image: linear-gradient(
        to right top,
        #240046,
        #380762,
        #4e1380,
        #641f9f,
        #7b2cbf
    );
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.likes {
    display: inline;
}

.pontuation {
    font-weight: bold;
    background-color: var(--mediumlight-purple);
    border-radius: 200px;
    padding: 8px;
    font-family: "Major Mono Display", monospace;
    margin-right: 10px;
}

.header,
.description {
    font-family: "Roboto Mono", monospace;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.actions {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-button {
    font-family: "Major Mono Display", monospace;
    background-color: #de6002;
    display: inline;
}

.menu-button:hover {
    background-color: var(--light-orange);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-text {
    font-family: "Roboto Mono", monospace;
}

.icon {
    padding-right: 5px;
}

.noPublis {
    align-self: center;
    color: var(--dark-orange);
    margin: auto;
    font-family: "Major Mono Display", monospace;
    font-family: 10em;
    font-weight: bold;
}

.noPublis a {
    font-weight: bold;
    color: var(--light-purple);
}

.edit-button {
    background-color: var(--dark-orange);
}

.edit-button:hover {
    background-color: var(--light-orange);
}

.title,
.description {
    line-height: 25px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.delete-user {
    font-weight: bold;
    margin: 20px auto auto auto;
    font-family: "Major Mono Display", monospace;
    background-color: #f770a8;
    max-width: 50vw;
}

.delete-user:hover {
    background-color: #be4c7a;
}

.delete-button,
.edit-button {
    margin: 5px;
}

.form-search {
    margin-bottom: 30px;
    width: 90%;
}

.search {
    max-width: 80vw;
    margin: auto;
    display: inline;
}

.author {
    font-size: 0.9em;
    font-family: "Roboto Mono", monospace;
    color: rgb(209, 209, 209);
}

.username {
    color: rgb(219, 218, 218);
}

.noPublis-card {
    box-shadow: none;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: transparent;
}
